<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" />
</head>
<body>
<p>Cписок пользователей и используемых ими форм за последний час</p>
<table >
    <th:block th:each="user : ${SsoidAndForms}">
        <tr>
            <td th:text="${user}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>